
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  box-shadow: 0px 3px 10px gray;
}

.nav-items {
  list-style-type: none;
  display: flex;
}

.nav-items > li {
    padding: 10px;
}

.nav-items > li:hover {
  background-color: gray;
}

.main {
  width: 60%;
  margin-left: 20%;
}

.dropdown_content {
  display: none;
  box-shadow: 0px 8px 16px 0px darkslategrey;
}

.dropdown:hover .dropdown_content{
  display: block;
}

a {
  text-decoration: none;

}

a:hover {
  background-color: gray;
}

table {
  box-shadow: 0px 0px 5px gray;
  padding: 15px;
}

.event_info {
  padding: 5px;
}

td {
  padding-right: 30px;
}

th {
  padding:10px;
}

.no_margin {
  margin-top: 0;
  margin-bottom: 0;
}

.round_box {
  border-radius: 25px;
  background: #28ad21;
  padding: 20px;
}
