{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Outlinex</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

    <nav>
        <h3><a href="/outline">Outline</a></h3>
        <ul class="nav-items">
            <li class="dropdown">Sort By</li> 
            <div class="dropdown_content">
                <p>add ul</p>
            </div>
            <li><a href="/outline/add_event/">Add Event</a></li>
            <li><a href="add_table/">Add Table</a></li>
        </ul>
    </nav>

    <div class="main">
        <h1>Add Table</h1>
        <form action="add_table_to_record/" method="post">
            {% csrf_token %}
            <label for="table_name">Table Name: </label>
            <input class="input_line" name="table_name">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>