{% extends "base.html" %}
{% block content %}

    <div class="main">
        <h4>Hi {{ username }}!</h4>
        <form action="{% url 'app_password' %}" method="post">
            {% csrf_token %}
            <label for="email_password">App Password: </label>
            <input class="input_line" name="email_password">
            <p>To allow this app to send email reminders, it requires an app password</p>
            <p>You can make one <a href="myaccount.google.com/apppasswords">here</a></p>
            <p>You may leave this blank if you don't want email reminders</p>
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock content %}